.productimage {
    width: 50px;
}

.fileInput {
    display: block;
    margin: 10px 0;
}
.previewimage {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
}


.productDetailImage {

    width: 100%;
  
    margin-bottom: 20px;
  
  }

  
.productDetailImage {

  width: 100%;

  margin-bottom: 20px;

}